@page "/"
@using PresShare.Website.Api
@using PresShare.DataModel.Lib

@inject PressProcessor pressProcess

<h2>Last press</h2>
<RenderPressFragment presses="@latestPresses" />
<h2>Texts <a class="button" href="press/texts">More <img class="svg" src="svg/arrow-right.svg" alt="More"></a></h2>
<RenderPressFragment presses="@textPresses" />

<h2>Links <a class="button" href="press/links">More <img class="svg" src="svg/arrow-right.svg" alt="More"></a></h2>
<RenderPressFragment presses="@linkPresses" />
@code {
    private List<PressModel>? textPresses;
    private List<PressModel>? linkPresses;
    private List<PressModel>? latestPresses;
    protected override async Task OnInitializedAsync()
    {
        textPresses =(List<PressModel>) await pressProcess.LoadPressesByGenre("Text", 6);
        linkPresses =(List<PressModel>) await pressProcess.LoadPressesByGenre("Link", 6);
        latestPresses =(List<PressModel>) await pressProcess.LoadLatest(6);
    }
}


