@inherits LayoutComponentBase
@inject NavigationManager NavManager
<PageTitle>PresShare.Website</PageTitle>

<div class="page">
    <Header />

    <main class="container">
        <AuthorizeView>
            <Authorized>
                @if (!NavManager.Uri.Contains("login") && !NavManager.Uri.Contains("signup"))
                {
                    <a class="button" href="press/add">Add a press</a>
                }
            </Authorized>
        </AuthorizeView>
        @Body
    </main>

    <Footer />
</div>
