@inherits LayoutComponentBase

<PageTitle>PresShare.Website</PageTitle>

<div class="page">
    <Header />

    <main class="container">
        <a class="button" href="<?= ROOT_URL ?>press/add">Add a press</a>
        @Body
    </main>

    <Footer />
</div>
