@page "/press/texts"

@inject PressProcessor pressProcess

<h2>Texts </h2>
@if (count != null){
    @if(count>1){
        <h3> @count presses founds</h3>
    }else
    {
        <h3> @count press found</h3>
    }
}

<RenderPressFragment presses="@textPresses" />
@code {    
    private int? count=null;
    private List<PressModel>? textPresses;
    protected override async Task OnInitializedAsync()
    {
        textPresses =(List<PressModel>) await pressProcess.LoadPressesByGenre("Text");
        count = textPresses.Count();
    }
}


